* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body {
    height: 100vh;
    width: 100vw;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #1a1b26;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container section{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    scroll-snap-align: start;
}

.container section:nth-of-type(1)  {
    display: flex;
    flex-direction: column;
    justify-content: left;  
    position: relative;
    color: #7aa2f7;
    padding-bottom: 400px;
}


.container section:nth-of-type(1) h2{
    display: flex;
    font-size: 3em;
    color: #7aa2f7;
}

.container section:nth-of-type(1) h3 {
    font-size: 2em;
    color: #565f89;
    padding: 20px;
}

.container section:nth-of-type(1) h1 {
    display: flex;
    font-size: 5em;
    padding: 20px;
}

.container section:nth-of-type(2) {  
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 400px;
}
.container section:nth-of-type(2) h2{
    font-size: 6em;
    color: #7aa2f7;
    padding: 10px;
}
.container section:nth-of-type(2) .Projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
}


.container section:nth-of-type(2) .Projects div{
    padding: 20px;
    background-color: #24283b;
    color: #a9b1d6;
    border: 5px solid #24283b;
}


.container section:nth-of-type(2) .Projects h5{
    font-size: 2em;
}

.container section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.container section:nth-of-type(3) h1 {
    font-size: 10em;
    color: #7aa2f7;
}

.container section:nth-of-type(3) h3 {
    font-size: 3em;
    color: #565f89;
}
